.contenedor{
  position: relative;
  padding: 20px;
  background-color: rgba(239, 160, 64, 0.688);
  border-radius: 10px;
  margin: 10px 0;
  width: 50%;
  left: 25%;
  font-size: 22px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select, 
textarea{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-sizing: border-box;
  color: rgb(37, 36, 36);
  font-size: 18px;
}

h2{
  margin: 20px;
  font-size: 30px;
  padding: 0 0 0 15px;
  color:rgb(177, 81, 55);
  text-shadow:  1px -1px 0 black;
  text-decoration: underline;
  text-align: center;
}

input[type="submit"]{
  width: 100%;
  background-color: rgb(237, 117, 25);
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

textarea:focus, input:focus{
  background-color: rgba(237, 243, 126, 0.704);
}

input[type="submit"]:hover{
  background-color: rgb(107, 190, 17);
}